* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Pale-Violet: hsl(276, 100%, 81%);
    --Moderate-Violet: hsl(276, 55%, 52%);
    --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
    --Grayish-Blue: hsl(206, 6%, 79%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Dark-Grayish-Violet: hsl(270, 7%, 64%);
    --White: hsl(0, 0%, 100%);
    --Light-Grayish-Violet: hsl(270, 20%, 96%);
    --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
    --Very-Light-Magenta: hsl(289, 100%, 72%);
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
    --gradient-blue-to-violet: linear-gradient(
      to left,
      var(--Light-Magenta),
      var(--Light-Violet)
    );
  }

  body {
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .circle {
    width: 400px;
    height: 780px;
    border-radius: 200px;
    position: fixed;
    z-index: -999;
  }
  .circle.gradient {
    top: -200px;
    left: -50px;
    background-image: linear-gradient(
      -150deg,
      var(--Light-Magenta) 10%,
      var(--Light-Violet)
    );
  }
  .circle.left {
    top: 150px;
    right: -140px;
    background: var(--Light-Grayish-Violet);
  }
  main {
    display: flex;
    align-items: center;
    max-width: 800px;
  }
  .main-screen {
    margin-top: 20px;
  }
  .main-screen .screen {
    position: relative;
    width: 280px;
    background-color: var(--Light-Grayish-Violet);
    border-radius: 30px;
    border: 12px solid white;
    box-shadow: 3px 15px 90px 0px #00000017;
  }
  .main-screen .rounded {
    background-color: white;
    height: 25px;
    width: 60%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
  }
  .main-screen .screen .header {
    display: flex;
    align-items: center;
    background-image: var(--gradient-blue-to-violet);
    position: relative;
    padding: 36px 10px 14px;
    border-radius: 1pc;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.062);
  }
.main-screen .arrow-left {
  color: var(--White);
  cursor: pointer;
}
.main-screen .screen .user {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 5px;
}
.main-screen .screen .img-user img {
  width: 40px;
  border-radius: 100%;
  border: 2px solid white;
  padding: 2px;
}
.main-screen .screen .text-user {
  color: var(--White);
  margin-left: 10px;
}
.main-screen .screen .text-user .name-user {
  font-weight: 600;
  font-size: 14px;
}
.main-screen .screen .text-user .state {
  font-size: 12px;
  color: var(--Grayish-Blue);
}

.messages .left {
  max-width: 70%;
  width: fit-content;
  border-radius: 14px 14px 14px 3px;
  background-color: hsl(272, 41%, 93%);
  color: var(--Moderate-Violet);
  margin: 10px;
  padding: 5px;
}
.message-item  img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding-left: 5px;
}
.messages  .right {
  max-width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-left: 35px;
}
.messages .textMsg {
  display: flex;
  max-width: 70%;
  justify-content: flex-end;
  border-radius: 14px 14px 3px 13px;
  background-color: var(--White);
  padding: 5px;
  color: black;
  margin: 10px;
  margin-left: 55px;
  text-align: justify;
}
.messages .textMsg2 {
  display: flex;
  max-width: 50%;
  justify-content: flex-end;
  border-radius: 14px 14px 3px 13px;
  background-color: var(--White);
  padding: 5px;
  color: black;
  margin: 10px;
  margin-left: 105px;
  text-align: justify;
}