* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 550px;
    height: 850px;
    background-color: hsl(264, 100%, 61%);
    border-radius:  0% 0% 49% 46% / 0% 0% 46% 24% ;
    position: relative;
}
.container-secundary {
    border: 2px solid black;
    width: 400px;
    height: 650px;
    background-color: aliceblue;
    position: absolute;
    opacity: 1;
    top: 150px;
    left: 450px;
    border-radius: 35px;
}
.box-1 {
    margin-top: 35px;
    display: flex;
    padding: 15px;
    align-items: center;
    background-color:hsl(264, 100%, 61%) ;
    color: aliceblue;
    margin-left: 10px;
    margin-right: 10px;
}
.box-1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    border: 2px solid white;
}

.box-1 div {
    padding-left: 25px;
}
i {
    font-weight: bolder;
    font-size: 30px;
    
}
#icone-pontos {
    width: 20px;
    height: 20px;
    margin-left: 75px;
    border: none;
}
#box-2 {
    background-color: hsl(270, 20%, 96%);
    margin-left: 10px;
    margin-right: 10px;
    height: 500px;
    
}
#msg-text {
    background-color: #b40000;
    width: 120px;
    color: rgb(7, 109, 199);
    margin-top: 15px;
}